/***** GRAPH *****/
.MiniMap {
    position: absolute;
    background-color: rgba(var(--background-dark), 0.8);
    top: var(--pad-large);
    right: var(--pad-large);
    width: 20%;
    height: 20%;
    z-index: 101; /* GraphMap */
}

.GraphBackground, .GraphNodes, .GraphGrid, .GraphLines {
    position: absolute;
    top: 0;
	left: 0;
    width: 100%;
    height: 100%;
	margin: 0;
	padding: 0;
}

.GraphBackground {
    pointer-events: none;
    background-color: rgba(var(--background-dark), 1);
}

.GraphGrid {
    pointer-events: none;
    background-repeat: repeat;
}

.GraphNodes {
    background-color: transparent;
}

.GraphLines {
    pointer-events: none;
    z-index: 100; /* GraphLines */
}


/***** NODE *****/

.Node {
    display: flex;
    position: absolute;
    background-color: rgba(var(--background-light), 1);
    border: var(--border-small) solid rgb(var(--icon));
    border-radius: var(--border-radius-inner);
    margin: 0;
    padding: 0.15em;
}

.Node.NodeSelected {
    border: var(--border-small) solid rgb(var(--complement));
}

.NodeResizers {
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: calc(var(--resize-size) / -2);
    z-index: 100; /* NodeResizers */
}
