/***** Base *****/

#gtx-trans { display: none !important; } /* disable google translate */

* {
    box-sizing: border-box;
}

body,
html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    height: 100%;
    overscroll-behavior-y: contain;
    background: #202428;
}

body,
button,
p,
ul {
    margin: 0;
    padding: 0;
}

button,
select {
    border: none;
    outline: none;
    background: none;
    font-family: inherit;
}

a,
button,
input,
select,
textarea {
    -webkit-tap-highlight-color: transparent;
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

:root {
    overflow-x: hidden;
    height: 100%;
}

@font-face {
    font-family: 'Aileron';
    src: url('../files/fonts/Aileron-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('../files/fonts/Roboto-Regular.ttf');
}

body {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #b0b0b0;
}

.Info {
    font-size: 16px;
    padding: 2px;
    padding-top: 20px;
    padding-left: 20px;
    position: relative;
    z-index: 1;
    color: #00aacc;
}

.Credits {
    font-size: 12px;
    padding: 2px;
    padding-left: 20px;
    position: relative;
    z-index: 1;
    color: #a05100;
}

.Credits a {
    color: #75b300;
}
