# Settings
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Hidden Files
.DS_Store
.history/

# Build Files
dist/suey.min.js
docs/
node_modules/
out/
stats.html
