/********** Docker Left / Docker Right **********/

.suey-docker-corner {
    position: absolute;
    display: flex;
    flex-direction: column;
    pointer-events: none;
    margin: auto;
    z-index: 1; /* Docker Corner */
    background: transparent;
}

.suey-docker-top-left {
    top: calc(var(--button-size) + (var(--pad-small) * 2));
    bottom: 0;
    left: 0;
}

.suey-docker-top-right {
    top: calc(var(--button-size) + (var(--pad-small) * 2));
    bottom: 0;
    right: 0;
}

.suey-docker-bottom-left {
    top: calc(var(--button-size) + (var(--pad-small) * 2));
    bottom: 0;
    left: 0;
    justify-content: end;
}

.suey-docker-bottom-right {
    top: calc(var(--button-size) + (var(--pad-small) * 2));
    bottom: 0;
    right: 0;
    justify-content: end;
}

.suey-docker-bottom-middle {
    top: calc(var(--button-size) + (var(--pad-small) * 2));
    bottom: 0;
    left: 0;
    justify-content: end;
}

/********** Docker2 **********/

.suey-docker2 {
    position: absolute;
    display: flex;
    min-width: 8em;
    min-height: 8em;
}

.suey-docker2-vertical {
    flex-direction: row;
    height: 100%;
}

.suey-docker2-horizontal {
    flex-direction: column;
    width: 100%;
}

/********** Tabbed / Floater **********/

.suey-tabbed {
    position: relative;
    max-height: 100%;
    padding: var(--pad-small);
}

/* Collection of Panels */
.suey-tab-panels {
    height: 100%;
    width: 100%;
    overflow: hidden;

    /* Need for scroll bars to appear on proper layer */
    display: flex;
    flex-direction: column;
}

/* Interior panel of a Tabbed Panel */
.suey-tab-panels .suey-floater {
    display: flex; /* needed for scroll bars to appear on proper layer */
    flex-direction: column;
    pointer-events: auto;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.suey-tab-panels .suey-floater.suey-hidden {
    display: none;
    pointer-events: none;
}

/* Collection of 'TabButton's */
.suey-tab-buttons {
    position: absolute;
    display: flex;
    z-index: 101; /* Tabs */
    min-width: var(--tab-size);
    min-height: var(--tab-size);
    margin: 0;
}

.suey-tab-buttons.suey-left-side,
.suey-tab-buttons.suey-right-side {
    flex-direction: column;
    top: 1em;
}

.suey-tab-buttons.suey-top-side,
.suey-tab-buttons.suey-bottom-side {
    flex-direction: row;
    left: 1em;
}

.suey-tab-buttons.suey-top-side { top: calc((var(--tab-size) / -2.0) + 0.52em); }
.suey-tab-buttons.suey-bottom-side { bottom: calc((var(--tab-size) / -2.0) + 0.52em); }

.suey-tab-buttons.suey-left-side { left: calc((var(--tab-size) / -2.0) + 0.52em); }
.suey-tab-buttons.suey-right-side { right: calc((var(--tab-size) / -2.0) + 0.52em); }

/***** TabButton *****/

.suey-tab-button {
    --tab-timing: 200ms;

    width: var(--tab-size);
    height: var(--tab-size);
    display: flex;
    align-items: center;
    justify-content: center;

    color: rgba(var(--text), 1.0);
    background-color: transparent;
    border: none;
    border-radius: var(--tab-size);
    outline: none;
    margin: var(--pad-x-small);
    transform: scale(70%);
    transition: margin var(--tab-timing) ease-in-out, transform var(--tab-timing) ease-in-out;
}

.suey-tab-buttons.suey-top-side .suey-tab-button:not(.suey-selected),
.suey-tab-buttons.suey-bottom-side .suey-tab-button:not(.suey-selected) {
    margin-left: calc(-1 * var(--pad-x-small));
    margin-right: calc(-1 * var(--pad-x-small));
}

.suey-tab-buttons.suey-left-side .suey-tab-button:not(.suey-selected),
.suey-tab-buttons.suey-right-side .suey-tab-button:not(.suey-selected) {
    margin-top: calc(-1 * var(--pad-x-small));
    margin-bottom: calc(-1 * var(--pad-x-small));
}

.suey-tab-button.suey-dragging {
    position: absolute;
    z-index: 10000;
    pointer-events: none;
    opacity: 0.8;
    transform: scale(100%);
}

.suey-tab-button.suey-selected {
    color: rgba(var(--highlight), 1.0);
    margin-top: var(--pad-x-small);
    margin-bottom: var(--pad-x-small);
    transform: scale(100%);
}

/* Tab Image */
.suey-tab-button .suey-vector-box {
    position: absolute;
    border: none;
    border-radius: var(--tab-size);
    outline: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    filter: contrast(75%) grayscale(100%) brightness(75%);
}

.suey-tab-button.suey-selected .suey-vector-box {
    filter: none;
}

.suey-tab-button:hover .suey-vector-box,
.suey-tab-button:active .suey-vector-box {
    filter: brightness(120%) !important;
}

.suey-tab-button:active .suey-vector-box .suey-image {
    transform: translate(0, 0.07em);
}

/* Tab Image Border / Shadow */
.suey-tab-icon-border {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0.21em solid rgba(var(--icon));
    border-radius: calc(var(--tab-size) * 0.7);
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.suey-tab-button.suey-dragging .suey-tab-icon-border {
    border: 0.21em solid rgba(var(--complement)) !important;
}

.suey-tab-button:hover .suey-tab-icon-border {
    box-shadow:
        inset 0 var(--pixel) var(--pixel) var(--pixel) rgba(var(--white), 0.50),
        inset 0 var(--minus) var(--pixel) var(--pixel) rgba(var(--black), 0.35);
}

.suey-tab-button:active .suey-tab-icon-border {
    box-shadow:
        inset 0 var(--pixel) var(--pixel) var(--pixel) rgba(var(--black), 0.35),
        inset 0 var(--minus) var(--pixel) var(--pixel) rgba(var(--black), 0.35);
}

.suey-tab-button.suey-selected .suey-tab-icon-border {
    border: 0.15em solid rgb(var(--icon));
}

/***** Window *****/

.suey-window {
    --window-z-index: 200;

    position: fixed;
    padding: var(--pad-small);
    opacity: calc(90% + (10% * var(--panel-transparency)));
    z-index: var(--window-z-index); /* Window */
}

.suey-window:not(.suey-active-window) div::-webkit-scrollbar-thumb:horizontal {
    background: linear-gradient(to left, rgba(var(--button-light), 1), rgba(var(--button-dark), 1));
    border-radius: calc(var(--scroll-size) / 2.0);
}
.suey-window:not(.suey-active-window) div::-webkit-scrollbar-thumb:vertical {
    background: linear-gradient(to bottom, rgba(var(--button-light), 1), rgba(var(--button-dark), 1));
    border-radius: calc(var(--scroll-size) / 2.0);
}

.suey-panel-button.suey-title-bar {
    color: rgba(var(--highlight), 0.5);
    border: var(--border-small) solid rgb(var(--button-light));
    border-radius: 9999px;
    background-color: rgba(var(--background-dark), 1.0);
    background-image: linear-gradient(to bottom, rgba(var(--background-light), 0.5), rgba(var(--background-dark), 0.5));
    box-shadow: none;
    text-shadow: none;
    text-align: center;
    left: 0;
    right: 0;
    min-width: 6em;
    min-height: 1.6em;
    margin-left: auto;
    margin-right: auto;
}

.suey-active-window .suey-panel-button.suey-title-bar {
    color: rgba(var(--highlight), 1);
    background-image: linear-gradient(to bottom, rgba(var(--icon-light), 0.5), rgba(var(--icon), 0.5));
    border: var(--border-small) solid rgb(var(--icon));
    text-shadow: var(--minus) var(--pixel) rgba(var(--shadow), 0.5);
}

.suey-docked-left {
    left: 0 !important;
    top: 0 !important;
    width: 50% !important;
    height: 100% !important;
}

.suey-docked-right {
    left: 50% !important;
    top: 0 !important;
    width: 50% !important;
    height: 100% !important;
}
