/***** Question *****/

.suey-question {
    position: fixed;
    display: flex;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.suey-screen-blackout {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(var(--background-dark), 0.75);
}

.suey-question-left {
    user-select: none;
    position: relative;
    width: 5em;
    min-height: 5em;
    margin: 1.5em;
}

.suey-question-right {
    position: relative;
    flex-direction: column;
    display: flex;
    min-width: 16em;
    min-height: 5em;
}

.suey-question-top {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    min-height: 3em;
    margin-top: 0.5em;
    text-align: center;
}

.suey-question-bottom {
    position: relative;
    display: flex;
    height: 2em;
    margin: 0.5em;
}

/* Question Panel Colors */

.suey-question-info .suey-panel-fancy-border {
    border: var(--border-small) solid rgb(var(--info));
}

.suey-question-question .suey-panel-fancy-border {
    border: var(--border-small) solid rgb(var(--valid));
}

.suey-question-warning .suey-panel-fancy-border {
    border: var(--border-small) solid rgb(var(--warning));
}

.suey-question-error .suey-panel-fancy-border {
    border: var(--border-small) solid rgb(var(--invalid));
}
