/***** Question *****/

.suey-question {
    position: fixed;
    display: flex;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100001; /* question */
}

.suey-screen-blackout {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(var(--background-dark), 0.75);
    z-index: 100000; /* blackout */
}

.suey-question-left {
    user-select: none;
    position: relative;
    width: 5em;
    min-height: 5em;
    margin: 1.5em;
}

.suey-question-right {
    position: relative;
    flex-direction: column;
    display: flex;
    min-width: 16em;
    min-height: 5em;
}

.suey-question-top {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    min-height: 3em;
    margin-top: 0.5em;
    text-align: center;
}

.suey-question-bottom {
    position: relative;
    display: flex;
    height: 2em;
    margin: 0.5em;
}
