/********** Panel (simple / fancy) **********/

.suey-panel {
    pointer-events: auto;
    position: relative;
    overflow: visible;
    outline: none; /* for macos */
    z-index: 0; /* Panel */
}

.suey-panel-simple {
    --edge-thickness:       0.35714em;      /* 5px @ font size 1.4em (14px) */

    background-color: rgba(var(--background-light), var(--panel-transparency));
    border: var(--border-small) solid rgb(var(--icon));
    border-radius: var(--radius-large);
    margin: calc(var(--edge-thickness) + var(--pad-x-small));
}

.suey-panel-fancy-outer {
    --edge-thickness:       0.35714em;      /* 5px @ font size 1.4em (14px) */
    --border-radius-outer:  0.71429em;      /* 10px @ font size 1.4em (14px) */

    height: 100%;

    background-color: rgba(var(--background-light), calc(var(--panel-transparency) * 0.5));
    border-radius: var(--border-radius-outer);
    box-shadow: 0px 0px 5px 1px rgba(var(--shadow), 0.25);
    padding: var(--edge-thickness); /* outside of border padding */
    overflow: visible;

    /* Need for scroll bars to appear on proper layer */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.suey-panel-fancy-border {
    height: 100%;

    background-color: rgba(var(--background-light), var(--panel-transparency));
    border: var(--border-small) solid rgb(var(--icon));
    border-radius: var(--radius-large);
    padding: var(--pad-x-small);
    overflow: visible;

    /* Need for scroll bars to appear on proper layer */
    display: flex;
    flex-direction: column;
}

.suey-window .suey-panel-fancy-border {
    border: var(--border-small) solid rgb(var(--button-light));
}
.suey-window.suey-active-window .suey-panel-fancy-border {
    border: var(--border-small) solid rgb(var(--icon));
}

.suey-panel-fancy-inside {
    height: 100%;
    width: 100%;
    background-color: rgba(var(--icon-light), calc(var(--panel-transparency) * 0.05));
    border-radius: var(--radius-small);
    margin: 0;
    padding: 0;
    overflow: visible;

    /* Need for scroll bars to appear on proper layer */
    display: flex;
    flex-direction: column;
}

/********** Scroller ********/

.suey-scroller {
    overflow: auto;
}

/********** Shrinkable **********/

.suey-shrinkable {
    background-color: transparent;
    border: solid var(--border-small) rgba(var(--shadow), 0.25);
    border-radius: var(--radius-large);
    margin: var(--pad-micro);
    box-shadow: inset 0 0 var(--pad-small) 0 rgba(var(--midlight), 0.5); /* inner-glow */
    overflow: visible;
}
.suey-shrinkable.suey-borderless-panel {
    border: solid var(--border-small) transparent;
    margin-bottom: 0;
    box-shadow: none;
}
.suey-shrinkable.suey-borderless-panel.suey-expanded {
    border-bottom: none;
}

/* Shrinkable Title Div */
.suey-shrink-title {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    min-height: calc(var(--row-height));
    overflow: hidden;

    cursor: default;
    color: rgba(var(--text-light), 1.0);
    background-color: rgba(var(--icon), 0.35);

    box-shadow: inset 0 0 var(--pad-small) 0 rgba(var(--midlight), 0.5); /* inner-glow */
    text-shadow: var(--minus) var(--pixel) rgba(var(--shadow), 0.5);

    border-bottom: solid var(--border-micro) transparent;
    border-top: solid var(--border-micro) transparent;
    border-top-left-radius: var(--radius-small);
    border-top-right-radius: var(--radius-small);
    padding: 0 var(--pad-medium); /* vertical horizontal */
}
.suey-shrink-title:hover {
    color: rgba(var(--highlight), 1.0)
}
.suey-shrinkable:not(.suey-expanded) .suey-shrink-title {
    border-radius: var(--radius-small);
}
.suey-shrinkable.suey-borderless-panel .suey-shrink-title {
    outline: solid var(--border-small) rgba(var(--shadow), 0.25);
    border-radius: var(--radius-small);
}

/* Title Icon */
.suey-shrink-icon > * {
    filter: var(--drop-shadow);
}
.suey-shrink-icon {
    flex-grow: 0;
    flex-shrink: 0;

    position: relative;
    display: flex;
    margin: 0.15em;
    height: calc(var(--arrow-size) * 3.5);
    min-height: calc(var(--arrow-size) * 3.5);
}
.suey-shrink-icon.suey-has-icon {
    width: calc(var(--arrow-size) * 3.5);
    min-width: calc(var(--arrow-size) * 3.5);
}

/* Title Text */
.suey-shrink-text {
    flex-grow: 1;
    flex-shrink: 2;

    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;

    padding-left: 0.2em;
}

/* Title Arrow */
.suey-shrink-arrow {
    flex-grow: 0;
    flex-shrink: 1;

    position: relative;
    content: '';
    margin: 0 0.35em; /* vertical horizontal */
    width: 0;
    height: 0;
    transform: translateX(25%);
    z-index: 101; /* Shrink Arrow */
    border: var(--arrow-size) solid transparent;
    border-color: transparent transparent transparent rgba(var(--text));
    transition: transform var(--menu-timing);
}
.suey-shrink-arrow-clicker {
    position: absolute;
    content: '';
    width: 1.7em;
    height: 1.7em;
    left: calc(1.7em * -0.5);
    top: calc(1.7em * -0.5);
    cursor: pointer;
}
.suey-shrinkable.suey-expanded .suey-shrink-title .suey-shrink-arrow {
    transform: rotate(90deg) translateX(25%);
}
.suey-shrink-title:hover .suey-shrink-arrow {
    border-color: transparent transparent transparent rgba(var(--highlight));
}

/* Shrinkable Body Div */
.suey-shrink-body {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-bottom-left-radius: var(--radius-small);
    border-bottom-right-radius: var(--radius-small);
    padding: var(--pad-small) 0;
    overflow: hidden;
    pointer-events: auto;
}
.suey-shrinkable.suey-borderless-panel .suey-shrink-body {
    padding-bottom: 0;
}
.suey-shrinkable:not(.suey-expanded) .suey-shrink-body {
    pointer-events: none;
    display: none;
}
.suey-shrinkable.suey-expanded:not(.suey-borderless-panel) .suey-shrink-body {
    border-top: solid var(--border-small) rgba(var(--shadow), 0.25);
}

/********** Titled **********/

.suey-titled {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex; /* needed for scroll bars to appear on proper layer */
    flex-direction: column;
}

.suey-title-arrow {
    position: absolute;
    content: '';
    font-size: var(--font-size);
    pointer-events: none;
    width: 0;
    height: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(-25%) scale(1.0, -1.0);
    border: 0.5em solid transparent;
    border-color: rgba(var(--text)) transparent transparent transparent;
    transition: transform var(--menu-timing);
}
.suey-title-arrow-click {
    position: absolute;
    cursor: pointer;
    content: '';
    pointer-events: all;
    width: 2em;
    height: 2em;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    right: 0.25em;
    z-index: 101; /* Title Arrow */
}
.suey-title-arrow-click:hover .suey-title-arrow {
    border-color: rgba(var(--highlight)) transparent transparent transparent;
}
.suey-titled.suey-expanded .suey-tab-title .suey-title-arrow {
    transform: translateY(25%);
}

/* Title Bar Class for top of Title Panel */
.suey-tab-title {
    --font-size-increase:   1.3;

    position: relative;
    display: flex;
    flex-shrink: 0; /* don't allow title to shrink */
    color: rgba(var(--text-light), 1);
    background-color: transparent;
    background-image: linear-gradient(to bottom, rgba(var(--icon-light), 0.5), rgba(var(--icon-dark), 0.5));
    border: 0;
    border-radius: calc(var(--radius-small) / var(--font-size-increase));
    outline: solid calc(var(--border-small) / var(--font-size-increase)) rgba(var(--shadow), 0.25);
    box-shadow: /* pop-out-shadow */
        inset var(--minus) var(--pixel) var(--pixel) var(--pixel) rgba(var(--white), 0.1),
        inset var(--pixel) var(--minus) var(--pixel) var(--pixel) rgba(var(--black), 0.1);
    text-shadow: calc(var(--minus) * var(--font-size-increase)) calc(var(--pixel) * var(--font-size-increase)) rgba(var(--shadow), 0.5);
    text-align: center;
    overflow: hidden;

    font-size: calc(100% * var(--font-size-increase));
    margin: var(--pad-x-small);
    justify-content: center;
    align-items: center;
    min-height: 1.867em;
}
.suey-tab-title-text {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 100%;
    user-select: all;
}
.suey-tab-title-text::selection {
    color: rgba(var(--icon), 1);
    background-color: rgba(var(--blacklight), 1);
}
